@page "/index"
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject NavigationManager NavManager

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code
{

    protected override async Task OnInitializedAsync()
    {
        var storage = await LocalStorage.GetItemAsync<string>("Email");
        if (storage is null or "")
        {
            NavManager.NavigateTo("/", true);
        }
    }

}
