@page "/signup"
@layout LoginLayout

<h3>SignUpPage</h3>

<div class="login">
    <EditForm>
        <label style="color:rebeccapurple" for="chk" aria-hidden="true">Sign up</label>
        <input type="text" name="txt" placeholder="User name" required="">
        <input type="email" name="email" placeholder="Email" required="">
        <input type="password" name="pswd" placeholder="Password" required="">
        <button >Sign up</button>
    </EditForm>
</div>

@code {

}
